<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.folder.FolderMapper">
	<select id="folderView"
			parameterType="java.util.Map"
			resultType="kr.happyjob.study.vo.folder.FolderModel">
		SELECT tf.folder_seq 
               , tf.parent_folder_seq 
               , tf.folder_name 
               , tf.member_seq 
          FROM tb_folder tf
		 WHERE member_seq = #{member_seq}
	  ORDER BY create_date
			
	</select>
	
	<select id="folderSubView" 
			parameterType="java.util.Map" 
			resultType="kr.happyjob.study.vo.folder.FolderChildModel">
		SELECT tc.contents_seq 
			   , tc.folder_seq
			   , tc.title
		  FROM tb_contents tc 
		 WHERE tc.folder_seq = #{folder_seq}
		   AND (tc.is_del != 'Y' || tc.is_del is null)
		   AND tc.del_date IS NULL 
      ORDER BY create_date
	</select>	
	
	<insert id="folderCreate" parameterType="java.util.Map" >
		INSERT INTO	tb_folder (
				   folder_seq
				   , member_seq
				   , parent_folder_seq
				   , folder_name
				   , create_date
				   , update_date
		)   
			SELECT MAX(folder_seq)+1 
				   , #{member_seq}
				   , MAX(folder_seq)+1
				   , #{folder_name}
				   , CURRENT_TIMESTAMP
				   , CURRENT_TIMESTAMP
			  FROM tb_folder
	</insert>
	
	<update id = "folderModify" parameterType="java.util.Map">
		UPDATE tb_folder
		   SET folder_name = #{folder_name}
		 WHERE folder_seq = #{folder_seq}
	</update>
	
	<delete id = "folderDelete" parameterType="java.util.Map">
		DELETE FROM tb_folder
		      WHERE folder_seq = #{folder_seq}
	</delete>
</mapper>