<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.contents.ContentsMapper">
	
	<!-- 글 상세 조회 -->
	<select id = "contentsDetail" parameterType="java.util.Map"  resultType = "kr.happyjob.study.vo.contents.ContentsModel">
        /*kr.happyjob.study.repository.contents.ContentsMapper.contentsDetail*/
	   SELECT c.contents_seq as contentsSeq    	 	 
			, c.title as Title
			, c.contents as Contents
			, a.member_seq
		 FROM tb_userinfo a
   INNER JOIN tb_folder b 
           ON a.member_seq = b.member_seq
   INNER JOIN tb_contents c 
           ON b.folder_seq = c.folder_seq
		WHERE 1=1
		<if test="member_seq != null and member_seq != ''">
			AND a.member_seq = #{memeber_seq}
		</if>
		<if test="folder_seq != null and folder_seq != ''">
			AND b.folder_seq = #{folder_seq}
		</if>
		<if test="contents_seq != null and contents_seq != ''">
			AND c.contents_seq = #{contents_seq}
		</if>
	</select>

	 <!--글 신규등록(저장) :  -->
	<insert id = "insertContents" parameterType="java.util.Map">
		/*kr.happyjob.study.repository.contents.ContentsMapper.insertContents*/
	    <selectKey resultType="string" keyProperty="contentsSeq" order="BEFORE">
            SELECT IFNULL(MAX(contents_seq),0) + 1 FROM Diary1.tb_contents 
        </selectKey> 
		INSERT
		INTO		Diary1.tb_contents
				(
					contents_seq, folder_seq, contents, title, is_del, del_date, create_date, update_date
				)
		VALUES
				(
						#{contentsSeq}
					,	#{folder_seq}
					,	#{contents}
					,	#{title}
					,	#{isDel}
					,	#{delDate}
					,	NOW()
					,	NOW()
				)
	</insert>
	
	<!-- 글 수정-->
	<update id = "updateContents" parameterType="java.util.Map">
		/*kr.happyjob.study.repository.contents.ContentsMapper.updateContents*/
	    UPDATE Diary1.tb_contents
		SET	   title = #{title}
			 , contents = #{contents}
			 , update_date = NOW()
		 WHERE contents_seq = #{contents_seq}
	</update>
		
		<!-- 글 목록 총 갯수 조회 -->
	<select id="contentsCnt" parameterType="java.util.Map"  resultType="int">
		/*kr.happyjob.study.repository.contents.ContentsMapper.contentsCnt*/
		SELECT COUNT(*)
		FROM Diary1.tb_contents

	</select>	
	
	<!-- 글 삭제-->
	<delete id="deleteContents" parameterType="java.util.Map">
		/*kr.happyjob.study.repository.contents.ContentsMapper.contentsDelete*/
		DELETE
		FROM tb_contents 
		WHERE contents_seq = #{contents_seq}
	</delete>
   
         
</mapper>